@{
    ViewBag.Title = "Automobile  marketplace online";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>

            </hgroup>

        </div>
    </section>
}
<ol class="round">
    <li class="one">

        <h2>Bulgarian's biggest vehicle marketplace online</h2>
    
    </li>

    <li class="two">
        <h2>The lowest prices in Bulgaria</h2>
      
      
    </li>

    <li class="three">
        <h2>View offers</h2>
  
    </li>
</ol>
